spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  data:
    redis:
      host: localhost
      port: 6379
      channels:
        dms-channel:
          name: dms_channel

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8090

logging:
  level:
    root: info

reserve-service:
  canceling-out-of-date-reserves:
    cron: 0/5 * * * * *
    waiting-time: 30 # время ожидания в секундах