spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: 8090

logging:
  level:
    root: info

free-account-numbers:
  accounts:
    INDIVIDUAL:
      targetAmount: 15
    CORPORATE:
      targetAmount: 30
    SAVINGS:
      targetAmount: 25
    INVESTMENT:
      targetAmount: 40
    RETIREMENT:
      targetAmount: 25
    STUDENT:
      targetAmount: 10
    BUSINESS:
      targetAmount: 15
    PREPAID:
      targetAmount: 25

scheduler:
  account-numbers-generation: "0 30 5 * * *"