spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  task:
    execution:
      pool:
        max-size: 10
        core-size: 6
        queue-capacity: 20

server:
  port: 8090

logging:
  level:
    root: info

task:
  interest-payment:
    savings-account:
      batch-size: 10
      cron: "0 0 * * * ?" # every hour